.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-medium { margin-top: 4rem; }
.u-margin-top-small { margin-top: 2rem; }

.grid-wrapper {
    display: grid;
}

.grid-gap-small {
    grid-gap: 3rem;
}

.grid-gap-medium {
    grid-gap: 5rem;
}

.grid-gap-big {
    grid-gap: 8rem;
}

.grid-margin-small {
    margin: 0 4rem;
}

.grid-margin-big {
    margin: 0 8rem;
}

.one-column {
    grid-template-columns: 1fr;
}

.two-columns {
    grid-template-columns: 1fr 1fr;

    @include respond(phone) {
        grid-template-columns: 1fr !important;
    }
}

.three-columns {
    grid-template-columns: 1fr 1fr 1fr;

    @include respond(tab-port) {
        grid-template-columns: 1fr 1fr !important;
    }

    @include respond(phone) {
        grid-template-columns: 1fr !important;
    }
}

.four-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include respond(tab-port) {
        grid-template-columns: 1fr 1fr !important;
    }

    @include respond(phone) {
        grid-template-columns: 1fr !important;
    }
}